<div class="card">
  <div class="card-block">
        <h5 class="card-title"><%= user.name %> <span style="font-size:13px;"> <br/>
          <%= user.updated_at.strftime("%H:%M:%S") %></span>
        <div id="status" style="background-color:<%= user.arrived_color %>"></div></h5>
  </div>
</div>
