<% content_for :title, "In/out board" %>


<div class="row">
    <% @users.each_with_index do |user, index| %>
    <div class="col-3">
      <%= render partial: 'info', locals: {user: user} %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-12">
    <br/>
    <p style="text-align:center;color:white;">
      refreshed at: <span class="clock"></span>
    </p>
  </div>
</div>
